.side_bar_link.active{

    color: var(--first-color) !important;
    background-color: var(--third-color) !important;

}

.header_link.active{

    color: var(--seconde-color);
    background-color: var(--first-color);

}