.table_cont {

    width: 100%;
    overflow: auto;

}

.table_cont::-webkit-scrollbar {

    display: none;

}


.table {

    width: 100%;
    overflow: auto;
    border-collapse: collapse;

}

.table th,
.table td {

    padding: 15px 20px;
    text-align: center;
    white-space: nowrap;

}

.table th {

    background-color: var(--first-color);
    color: var(--seconde-color);

}

.table_en th:nth-child(1) {

    border-top-left-radius: 6px;

}

.table_ar th:nth-child(1) {

    border-top-right-radius: 6px;

}

.table_en th:nth-child(2),
.table_en th:nth-child(3),
.table_en th:nth-child(4),
.table_en th:nth-child(5),
.table_en td:nth-child(1),
.table_en td:nth-child(2),
.table_en td:nth-child(3),
.table_en td:nth-child(4),
.table_en td:nth-child(5) {

    border-left: 1px solid var(--third-color);

}

.table_ar th:nth-child(2),
.table_ar th:nth-child(3),
.table_ar th:nth-child(4),
.table_ar th:nth-child(5),
.table_ar td:nth-child(1),
.table_ar td:nth-child(2),
.table_ar td:nth-child(3),
.table_ar td:nth-child(4),
.table_ar td:nth-child(5) {

    border-right: 1px solid var(--third-color);

}

.table td:last-child {

    border-right: 1px solid var(--third-color);

}

.table_en th:last-child {

    border-top-right-radius: 6px;

}

.table_ar th:last-child {

    border-top-left-radius: 6px;

}

.table tr:nth-child(even){

    background-color: var(--sixth-color);

}

.table td {

    padding-block: 10px;

}

.table td {

    border-bottom: 1px solid var(--third-color);

}

.status_span{

    padding: 5px 10px;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 20px;

}

.accepted_span{

    color: var(--seventh-color);
    background-color: var(--eighth-color);

}

.declined_span{

    color: var(--ninth-color);
    background-color: var(--tenth-color);

}

.pending_span{

    color: var(--eleventh-color);
    background-color: var(--twelfth-color);

}

.actions {

    margin: 0px 5px;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.25rem;
    border: 1px solid;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;

}

.delete {

    color: var(--ninth-color);
    border-color: var(--ninth-color);

}

.update {

    border-color: var(--first-color);

}

.action_icon {

    color: var(--first-color);

}

.empty_doc {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 5rem;
    color: var(--first-color);

}

.empty_doc h3 {

    font-size: 1.25rem;
    color: var(--sixth-color);

}

/* ====== responsive-style ====== */

@media(max-width: 520px) {

    .title_box {

        font-size: 1.1rem;

    }

    .empty_doc {

        gap: 10px;
        font-size: 1.8rem;

    }

    .empty_doc h3 {

        font-size: 1rem;

    }

}