@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container{

    display: flex;
    flex-direction: column;
    gap: 50px;

}

.summary{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.revenue_charts{

    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Manrope", serif;

}

.chart_title{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.chart_title h3{

    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;
    color: var(--forth-color);

}

.sort_list{

    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background-color: var(--sixth-color);

}

.sort_list button{

    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--fifth-color);
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover{

        color: var(--first-color);
        border-color: var(--first-color);

    }

}

.chart_cont{

    width: 100%;
    height: 400px;

}

/* ====== responsive-style ====== */

@media only screen and (max-width: 460px){

    .sort_list{

        width: 100%;
        padding: 10px 20px;

    }

    .sort_list button{

        width: calc((100% / 3) - (10px - (10px / 3)));

    }

}