@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .container[lang="en"] *,
.container[lang="en"] {

    font-family: "Poppins", serif;

}

.container[lang="ar"] *,
.container[lang="ar"] {

    font-family: "Cairo", sans-serif;

} */

::-webkit-scrollbar {

    width: 2px;

}

.container{

    width: 100%;
    height: 100%;
    font-family: "Cairo", sans-serif;
    background-color: var(--first-color);

}

.logo{

    width: 100%;
    height: 80px;
    padding: 28px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo a{

    height: 100%;

}

.logo a img{

    height: 100%;

}

.close_nav{

    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--third-color);
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.nav_side{

    width: 100%;
    height: calc(100% - 80px);
    padding: 32px 0px;
    overflow: auto;

}

.nav_side .nav_bar_ul{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.nav_side .nav_bar_ul li{

    width: 100%;

}

.actions_phone{

    display: none;

}

.nav_side .nav_bar_ul li a , .nav_btn{

    width: 100%;
    padding: 16px 9%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--third-color);
    border: none;
    background-color: transparent;
    transition: 0.3s;

}

.nav_side .nav_bar_ul li a:hover {

    color: var(--first-color);
    background-color: var(--third-color);

}

.nav_btn{

    justify-content: space-between;
    cursor: pointer;

}

.btn_l_side{

    display: flex;
    align-items: center;
    gap: 10px;

}

.nav_side .nav_bar_ul li a svg , .nav_btn svg{

    font-size: 1.5rem;

}

.nav_side .nav_bar_ul li a p , .btn_l_side p{

    font-size: 1.15rem;
    font-weight: 500;

}

.arrowList{

    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link_det{

    overflow: hidden;
    background-color: var(--third-color);

}

.link_det li{

    padding: 10px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: var(--first-color);
    cursor: pointer;
    
    &:first-child{

        border-bottom: 1px solid var(--first-color);

    }

}

.link_det li svg{

    font-size: 1.25rem;

}

/* ====== responsive-style ====== */

@media only screen and (max-width: 1024px) and (min-width: 780px){

    .logo{

        height: 100px;

    }

    .logo a{

        display: flex;
        align-content: center;
        justify-content: center;

    }

    .nav_side ul li a{

        padding: 16px 0px;
        justify-content: center;

    }

    .nav_btn{

        justify-content: center;

    }

    .nav_side ul li a svg , .nav_btn svg{

        font-size: 1.8rem;

    }

    .nav_side ul li a p , .btn_l_side p , .arrowList{

        display: none ;

    }

}

@media only screen and (max-width: 780px){

    .logo{

        padding: 25px 4.5%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .close_nav{

        display: flex;

    }

    .actions_phone{

        display: inline-block;

    }

}